body {
    background-image: url(../images/background-cub.jpg);
    background-repeat: no-repeat;
    background-position-x: center;
    background-size: 100%;
    background-attachment: fixed;
    font-weight: bold;
    background-color: #005596;
}

button {
    margin: 10px;
    float: left;
    font-size: 100%;
}

#buttons {
    margin-bottom: 20px;
}

div, form, input, label {
    margin-right: 20px;
    margin-bottom: 10px;
}

#images {
    float: left;
    width: 30%;
}

img {
    width: 100%;
    border: 2px solid white;
}
img:hover {
    -ms-transform: scale(1.5);
    -ms-transform-origin-x: left;
    -webkit-transform: scale(1.5);
    -webkit-transform-origin-x: left;
    transform: scale(1.5);
    transform-origin: left;
    position: relative;
    z-index: 10;
}
